body {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
}

/* HEADER */

header {
    background-image: url(../images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 550px;
    position: relative;
}

nav {
    padding: 2em;
}

.hamburger {
    float: right;
    cursor: pointer;
}

.menu {
    display: none;
}

nav ul {
    background-color: white;
    text-align: center;
    padding: 2.5em;
    position: absolute;
    width: calc(100% - 4em);
    top: 6em;
}

nav ul li a {
    color : hsl(232, 10%, 55%); 
    line-height: 3em;
}

.contact {
    background-color: hsl(51, 100%, 49%);
    padding: 0.8em 1.5em;
    border-radius: 30px;
    text-transform: uppercase;
    color: black;
    font-family: 'Fraunces', serif;

}

.triangle {
    width: 0;
    height: 0;
    border-left: 40px solid transparent; 
    border-right: 0px solid transparent; 
    border-bottom: 40px solid white; 
    position: absolute;
    right: 2em;
    top: 4.5em;
  }

h1{
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 2.2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 1em ;
    line-height: 1.5em;
}

.arrow {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* MAIN */

.grid-desktop img, .grid img {
    width: 100%;
}

.square {
    padding: 4em 2em;
}

.img-desktop{
    display: none;
}

h2{
    font-family: 'Fraunces', serif;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    color:hsl(212, 27%, 19%);
}

.square p {
    text-align: center;
    line-height: 1.6em;
    padding: 2em 0;
    color: hsl(232, 10%, 55%);
    font-size: 16px;
}

.square div {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    color:hsl(212, 27%, 19%);
    font-weight: 900;
    text-align: center;
}
div a {
    position: relative;
 }

 div a::after {
    content: "";
    border-radius: 5px;
    position: absolute;
    width: calc(100% + 20px);
    height: 10px; 
    bottom: -2px;
    right: -10px;
    z-index: -100;
}

.softRed a::after {
    background-color: hsl(7, 99%, 70%, 30%);
}

.softRed a:hover::after {
    background-color: hsl(7, 99%, 70%);
}

.yellow a::after {
    background-color: hsl(51, 100%, 49%, 30%);
}

.yellow a:hover::after {
    background-color: hsl(51, 100%, 49%);
}

.rectangle  {
    position: relative;
    height: 100%;
}

.blue {
    background-color: #97D9CD;
}

.rectangle img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.graphicDesign, .photography {
    position: absolute;
    z-index: 200;
    top: 70%;
    width: 100%;
}

h3 {
    font-family: 'Fraunces', serif;
    font-size: 1.6em;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
}

.rectangle p {
    padding: 2em 1em;
    text-align: center;
    line-height: 1.5em;
    font-size: 16px;
    padding-bottom: 20%;
}

.graphicDesign h3, .graphicDesign p {
    color:hsl(167, 40%, 24%);
}

.photography h3, .photography p {
    color:hsl(198, 62%, 26%)
}

h4 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.2em;
    font-family: 'Fraunces', serif;
    padding : 3.5em 1em;
    font-weight: 900;
    color:  hsl(210, 4%, 67%);
}
.reviews p {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
}

.reviews img {
    width: 80px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.comment {
    padding: 2em;
    line-height: 1.8em;
    color:hsl(213, 9%, 39%)
}

.name {
    padding-bottom: 1em;
    font-family: 'Fraunces', serif;
    font-weight:900;
    font-size: 1.1em;
}

.profession {
    font-size: 0.9em;
    color: hsl(210, 4%, 67%);
    padding-bottom: 3.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* FOOTER */

footer{
    background-color: #90D4C5;
    padding: 4em 2em;
}

footer li {
    color: hsl(168, 34%, 41%);
}

footer li:hover {
    color: white;
}

.logoFooter {
    display: block;
    margin: auto;
}

footer ul {
    display: flex;
    justify-content: space-between;
    padding: 3em 0 5em 0;
}

footer .socialMedia {
    padding: 0 4.5em;
}




/* 900px - 1439px */

@media screen and (min-width: 900px){

    /* HEADER */

    header {
        background-image: url(../images/desktop/image-header.jpg);
        height: 700px;
    }

    .hamburger {
        display: none;
    }

    .menu{
        display: flex;
    }

    .triangle {
        display: none;
    }

    nav {
        display: flex;
        justify-content: space-between;
    }

    nav ul {
        background-color: transparent;
        text-align: left;
        padding: 0em;
        position: relative;
        width: 100%;
        top: 0;
        display: flex;
        gap: 3em;
    }
    
    nav ul li a {
        color : white;
        line-height: 0em;
    }

    .contact {
        font-size: 0.8em;
        background-color: white;
    }

    .contact:hover {
        background-color: rgba(255, 255, 255, 0.5);;
        color: white;
    }

    /* MAIN */

    .container {
        display: flex;
        width: 100%;
    }

    .square {
        padding: 8em 5em 8em 8em;
        flex: 1;
        max-width: 50%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h2, .square p , .square div{
        text-align: start;
    }

    .img-mobile {
        display: none;
    }

    .img-desktop {
        display: block;
        flex: 1;
    }

    .graphicDesign, .photography {
        padding: 0 15%;
        top: 55%;
    }

    .grid-desktop img {
        width: 50%;
    }

    .rectangle img {
        width: 100%;
    }

    .grid {
        display: flex;
    }

    .grid img {
        width: 25%;
    }

    /* FOOTER */

    footer ul {
        padding: 2em 35% 5em 35%;
    }

    ul.socialMedia {
        padding: 0 40%;
    }
}

/*1440px and + */ 

@media screen and (min-width: 1439px){

    /* HEADER */

    header {
        height: 750px;
    }
    
    h1{
        padding-bottom: 2.5em;
        letter-spacing: 0.2em;
        font-size: 2.5em;
    }

    /* MAIN */

    .img-mobile {
        display: none;
    }

    .img-desktop{
        display: block;
        flex: 1;
        width: 25%;
    }

    .rectangle {
        width: 50%;
    }

    .graphicDesign, .photography {
        padding: 0 9em;
        top: 65%;
    }

    .reviews{
        display: flex;
        padding: 2em 12% 5em 12%;
    }

    h4 {
        padding-top: 7em;
    }

    .comment {
        padding-bottom: 4em;
    }

    /* FOOTER */

    footer ul {
        padding: 2em 38% 5em 38%;
    }

    ul.socialMedia {
        padding: 0 43%;
    }

}
